<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">


<dict>
    <key>compileBitcode</key>
	<false/>
	<key>destination</key>
	<string>export</string>
	<key>method</key>
	<string>enterprise</string>
	<key>provisioningProfiles</key>
	<dict>
		<key>tzt.wksc.zzsjcg.new</key>
		<string>tztWKSC_new_DIS_INHOUSE</string>
	</dict>
	<key>signingCertificate</key>
	<string>Apple Distribution</string>
	<key>signingStyle</key>
	<string>manual</string>
	<key>stripSwiftSymbols</key>
	<true/>
	<key>teamID</key>
	<string>ZY2N85ZG95</string>
	<key>thinning</key>
	<string>&lt;none&gt;</string>
    <key>items</key>
    <array>
        <dict>
            <key>assets</key>
            <array>
                <dict>
                    <key>kind</key>
                    <string>software-package</string>
                    <key>url</key>
                    <string>https://wx.wkzq.com.cn/page/tztApp.ipa</string>
                </dict>
                <dict>
                    <key>kind</key>
                    <string>full-size-image</string>
                    <key>needs-shine</key>
                    <true/>
                    <key>url</key>
                    <string>http://host.com/sources/icon-1024.png</string>
                </dict>
                <dict>
                    <key>kind</key>
                    <string>display-image</string>
                    <key>needs-shine</key>
                    <true/>
                    <key>url</key>
                    <string>http://host.com/sources/icon-1024.png</string>
                </dict>
            </array>
            <key>metadata</key>
            <dict>
                <key>title</key>
                <string>五矿证券3.0</string>
                <key>bundle-version</key>
                <string>3.5.2</string>
                <key>kind</key>
                <string>software</string>
                <key>bundle-identifier</key>
                <string>tzt.wksc.zzsjcg.new</string>
            </dict>
        </dict>
    </array>
</dict>
</plist>
